# Flask backend
Flask
Flask-Cors

# Database
SQLAlchemy
psycopg2-binary

# Data processing
pandas
numpy

# Machine Learning
scikit-learn
xgboost

# Serialization / Pickle support
joblib

# Data visualization (analytics module)
matplotlib
seaborn

# Environment & API testing
python-dotenv
requests

# Optional: Jupyter notebooks for training/testing (not needed in deployment)
notebook


# Web server
gunicorn
